{% extends 'user/base.html' %} {% block title %}
<title>home</title>
{% endblock %} {% block body %}
<header>
    <div>
      <img
          src="{{ url_for('static' ,filename='img/hagyutto-logo.png')}}"
          alt="logo"
      /> 
    </div>
</header>
<div class="main-container">
    <div class="channnel-title">
        <h1>チャットルーム一覧</h1>
        <!-- <p class="channel-title-text">CHANNELS</p> 不要と思い削除！ -->
    </div>
    <div id="channels-list">
      <div id="pagination-wrapper"> <!--ページネーションとは、日本語で丁付け、ページ割りという意味で、Web制作においては、検索結果一覧など、内容の多いページを複数のWebページに分割し、各ページへのリンクを並べてアクセスしやすくするために設置するもの-->
        <div>
          <div class="pagination-container">
            <p id="prev">
              < 
              <span>PREV</span>
            </p>
            <ul class="pagination"></ul> <!--ulを使用する、しないの違いが画面上ではわからなかった。-->
            <p id="next">
              <span>NEXT</span> 
              >          
            </p>
          </div>       
        </div>
      </div>
      <ul class="channel-box"></ul> <!-- ul の中にチャンネルが作られる。javascriptにて詳細作成。-->
    </div>
    <div id="fiiter">
      <p> id="footer-text">Fteam from RareTECH</p> <!--消して良きかも-->
    </div>
</div>
{% endblock %} {% block script%}
<script type="text/javascript">
  // prettier-ignore
  const channels = JSON.parse('{{ channels|tojson }}');
  // prettier-ignore
  const uid = JSON.parse('{{ uid|tojson}}')
</script>
<script
  src="{{url-for('static',filename='js/channels/create-channel.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static',filename='js/pagination.js')}}"
  type="module"
  ></script>
<script
  src="{{url_for('static',filename='js/channels/delete-channel.js')}}"
  type="module"
></script>
 {% endblock &}

  


<!-- ハンバーガーメニューは、javascriptにて作成する。-->
<!-- 「paragraph」（段落）の頭文字の「p」でHTMLで段落を表すためのタグです。 -->
 <!-- spanタグとは、指定したテキストだけに対してCSSを適用させて、デザインを付与・変更するHTMLタグ。範囲を指定するという役割を持つだけのタグであり、spanタグ単体を使用する意味はありません。また、spanタグはインライン要素なので、ブロック要素の中で使用する必要がある。 -->