{% extends 'user/base.html' %} {% block title %}
<title>edit-open-channel</title>
{% endblock %} {% block body %}
<header>
    <div>
      <img
          src="{{ url_for('static' ,filename='img/hagyutto-logo.png')}}"
          alt="logo"
      > 
    </div>
</header>
<div class="edit-open-channel-container">
    <div class="channnel-title">
      <h1>オープンチャット編集</h1>        
    </div>
    <form class ='chat-form' method="post"> 
        <div>
            <input
            type="text"
            placeholder="オープンチャット名" 
            name="name"
            id="edit-open-channel-name"
            /> <!-- nameタグをバックエンドへ連絡-->
        </div>
        <div>
          <input
             type="text"
             placeholder="オープンチャット説明文"
             name="open_description"
             id="possword-input"
          />
     </div>
     <div class="open-button-container"> <!--ボタンの幅等-->
      {% with messages = get_flashed_messages() %} {% if messages %} <!-- flash message:ユーザーが操作をしたときに、画面にその結果を表示する機能やメッセージのこと。ログインした。投稿した。ログインできなかった。-->
      <ul class="flashes"> <!-- <ul> タグは Unordered List 順序のないリスト -->
         {% for message in messages %} <!-- Flask:バックエンド側にてmessagesの中に複数のエラー分が入っており、その中からmessageが出てくるようになっている。for:ループ。@がない。大文字を使用してね。等-->
           <li>{{ message }}</li> <!-- エラーが出た分だけ、messageが表示される。-->
         {% endfor %}
      </ul>
      {% endif %} {% endwith %} 
      <button class="auth-button white">作成</button>


</div>

<!-- name属性：バックエンドに送ったデータを識別する際の識別子。id要素とは異なり、すべての要素に存在するわけではない。特定の条件を除いて必ずしも一意である必要はないが、普通一意にする。要するにname属性をフロントエンド側で使用することは少なく、バックエンド側のための属性の意味合いが強い。-->
<!-- name属性は、フォーム要素に名前を付けるための属性です。サーバーに送信されるデータのキーとして使用されます。 -->
<!-- どんな名前でも良いですが、意味のある名前を付けると管理が楽になります。 -->
<!--「FORM」とは、入力・送信フォームを作成する際に使用する要素。入力された値はmethod属性で指定した転送方法とにてサーバへ送信される--> 
<!-- 「INPUT」とは、<form>タグで作成したフォームの中でテキスト入力欄やボタンなどの部品を作成する要素--><!--type:部品の形式を指定。name:部品の名前を指定。placeholder:フォームコントロールに値がないときにユーザーにヒントを出す。id:ページ内に一つ。-->
<!-- モーダル（modal）とは、ユーザーインターフェースにおいて、特定のアクションを促すために表示されるポップアップウィンドウのことです。 -->
