{% extends 'admin/base.html' %} 
{% block title %}
<title>create-group-channel</title>
{% endblock %} 

{% block body %}
<header>
    <div>
      <img
          src="{{ url_for('static' ,filename='img/hagyutto-logo.png')}}"
          alt="logo"
      > 
    </div>
</header>
<div class="main-wrapper">
  <div class="main-container">
      <div class="page-title">
        <h1>グループチャット作成</h1>        
      </div>
      <form class ='chat-form' method="post"> 
          <div>
              <input
              type="text"
              placeholder="グループチャット名" 
              name="name"
              id="create-group-channel-name"
              /> 
          </div>
          <div>
            <input
              type="text"
              placeholder="グループチャット説明文"
              name="group_description"
              id="possword-input"
            />
          </div>
          <div class="button-container"> 
            {% with messages = get_flashed_messages() %} 
            {% if messages %} 
            <ul class="flashes">
              {% for message in messages %} 
                <li>{{ message }}</li> 
              {% endfor %}
            </ul>
            {% endif %} {% endwith %} 
            <button class="button-white">作成</button>
          </div>
      </form>
  </div>
</div>
{% endblock %}


<!-- name属性：バックエンドに送ったデータを識別する際の識別子。id要素とは異なり、すべての要素に存在するわけではない。特定の条件を除いて必ずしも一意である必要はないが、普通一意にする。要するにname属性をフロントエンド側で使用することは少なく、バックエンド側のための属性の意味合いが強い。-->
<!-- name属性は、フォーム要素に名前を付けるための属性です。サーバーに送信されるデータのキーとして使用されます。 -->
<!-- どんな名前でも良いですが、意味のある名前を付けると管理が楽になります。 -->
<!--「FORM」とは、入力・送信フォームを作成する際に使用する要素。入力された値はmethod属性で指定した転送方法とにてサーバへ送信される--> 
<!-- 「INPUT」とは、<form>タグで作成したフォームの中でテキスト入力欄やボタンなどの部品を作成する要素--><!--type:部品の形式を指定。name:部品の名前を指定。placeholder:フォームコントロールに値がないときにユーザーにヒントを出す。id:ページ内に一つ。-->
<!-- モーダル（modal）とは、ユーザーインターフェースにおいて、特定のアクションを促すために表示されるポップアップウィンドウのことです。 -->
