{% extends 'admin/base.html' %} 
{% block title %}
<title>home</title>
{% endblock %} 

{% block body %}
<header>
  <div>
    <img
        src="{{ url_for('static' ,filename='img/hagyutto-logo.png') }}"
        alt="logo"
    /> 
  </div>
</header>
<div class="admin-main-container">
    <div class="admin-channnel-title">
        <h1>管理者用チャットルーム一覧</h1>        
    </div>
    <div id="admin-private_chat">
        <a href="{{ url_for('private_list_view') }}"> 
            個人チャット一覧
        </a> 
    </div>
    <div id="admin-group_chat">
        <a href="{{ url_for('admin_group_chat_redirect') }}"> 
            グループチャット一覧
        </a>  
    </div>
    <div id="open chat channels-list">
        <a href="{{ url_for('open_list_view') }}"> 
        オープンチャット一覧
        </a>
    </div>
</div>
{% endblock %} 

<!-- 以下コメントアウト -->
{#
{% block script%}
<script type="text/javascript">
  // prettier-ignore
  const channels = JSON.parse('{{ channels|tojson }}');
  // prettier-ignore
  const uid = JSON.parse('{{ uid|tojson}}')
</script>
<script
  src="{{url-for('static',filename='js/channels/create-channel.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static',filename='js/pagination.js')}}"
  type="module"
  ></script>
<script
  src="{{url_for('static',filename='js/channels/delete-channel.js')}}"
  type="module"
></script> 
  {% endblock %}
#}
  


<!-- ハンバーガーメニューは、javascriptにて作成する。-->
<!-- 「paragraph」（段落）の頭文字の「p」でHTMLで段落を表すためのタグです。 -->
<!-- spanタグとは、指定したテキストだけに対してCSSを適用させて、デザインを付与・変更するHTMLタグ。範囲を指定するという役割を持つだけのタグであり、spanタグ単体を使用する意味はありません。また、spanタグはインライン要素なので、ブロック要素の中で使用する必要がある。 -->
