{% extends 'admin/base.html' %} 
{% block title %}
<title>admin_group_member_select</title>
{% endblock %}

{% block body %}
<header>
  <div>
    <img
        src="{{ url_for('static' ,filename='img/hagyutto-logo.png') }}"
        alt="logo"
    /> 
  </div>
  {% include 'util/admin_menu.html' %}
</header>

<div class="main-wrapper">
    <div class="main-container">
        <div class="page-title">
          <h1>メンバー追加・退会</h1>    
          <div class="button-white">
              <button type="submit" form="selection" class="button-pink">確定</button>
              <!-- <form method="POST" action="{#{{ url_for('member_edit',group_chat_id = group_chat_id ) }}">
                 <input type="hidden" name="users_ids" value="{{ user_id }}"#} />
                 <button type="submit" class="button-pink">確定</button>
              </form> -->
          </div>
        </div>
        <div id="admin_private_chat_list">
            <ul class="private_name_list_delete_and_add">
                {% for user in users %} 
                  <li>
                    <p>{{ user.user_name }}</p>
                    <form method='POST' id="selection" action="{{ url_for('member_edit',group_chat_id = group_chat_id ) }}">
                        <input 
                         type="checkbox" 
                         name="user_ids[]"
                         id="checkbox"
                         value="{{ user_uid }}"
                         >
                    </form>
                  </li>
                {% endfor %}
            </ul>                
        </div> 
    </div>
</div>

<script>
  const checkbox = document.getElementById("checkbox");

  // ページが読み込まれたときチェックボックスの状態を復元
  window.onload = function(){
      const isChecked = localStorage.getItem("checkboxState") === "true";
      checkbox.checked = isChecked; //チェックボックスの状態を設定
  };

  //チェックボックスの状態が変更されたときとーかるストーレージに保存
  checkbox.addEventListener("change",function() {
    localStorage.setItem("checkboxState", checkbox.checked);
  });
</script>

{% endblock %} 