{% extends 'auth/base.html' %} <!-- Flask:base.htmlの内容をベースに拡張(extend)する。タイトルに代入する。-->
{% block title %}  
<title>login</title> <!-- ブラウザのタグの部分の名前 -->
{% endblock %}
{% block body %} 
<header>
   <div>
      <img
         src="{{ url_for('static' ,filename='img/hagyutto-logo.png') }}"
         alt="logo"
      /> 
      <a class ="switch-auth-mode" href="{{ url_for('signup_view') }}"> <!--画面登録のURLを貼り付け。-->
       無料登録
      </a>
   </div>
</header>
<div class="auth-wrapper"> <!--wrapper:ユーザーが読みやすい様な幅にwebページを包んで表示する。-->
   <div class = "auth-container"> <!-- container：コンテンツの横幅、余白、配置を調整する。 -->
   <!-- 
   <img
      src="{{ url_for('static',filename='img/hagyutto-main.png') }}"   
      class="auth-main-pic"
      alt="はぎゅっとチャット"
   /> PC版の画像を貼り付け。Flaskの書き方。バックエンド側にデータが保存されており、そちらを参照。変数のため絶対パスではないので、ディレクトリが移動しても参照できる。 -->
   <img
      src="{{ url_for('static',filename='img/hagyutto-main-mobile.png') }}"  
      class="auth-mobile-pic"
      alt="はぎゅっとチャット"
   /> <!--モバイル版の画像を貼り付け -->
      <div class ="auth-form-wrapper"> <!-- 入力フォーム画面の横幅等の調整。-->
         <form class ='auth-form' method="post">
            <h1 class="auth-title">ログイン</h1> <!-- 見出し：タイトル表示（ログイン)--> 
            <div>
               <input
                  type="text"
                  placeholder="メールアドレス" 
                  name="email"
                  id="email-input"
               />  
            </div>
            <div>
               <input
                  type="password"
                  placeholder="パスワード"
                  name="password"
                  id="possword-input"
               />
            </div>
            <div class="auth-button-container"> <!--ボタンの幅等-->
               {% with messages = get_flashed_messages() %} <!-- flash message:ユーザーが操作をしたときに、画面にその結果を表示する機能やメッセージのこと。ログインした。投稿した。ログインできなかった。-->
               {% if messages %} 
               <ul class="flashes"> 
                  {% for message in messages %} <!-- Flask:バックエンド側にてmessagesの中に複数のエラー分が入っており、その中からmessageが出てくるようになっている。for:ループ。@がない。大文字を使用してね。等-->
                  <li>{{ message }}</li> <!-- エラーが出た分だけ、messageが表示される。-->
                  {% endfor %}
               </ul>
               {% endif %} {% endwith %} <!-- fkask:endif:条件分岐。endwithが出てくるまで条件分岐する様だ。定かではない。-->
               <button class="auth-button-white">ログイン</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}

<!--「FORM」とは、入力・送信フォームを作成する際に使用する要素。入力された値はmethod属性で指定した転送方法とにてサーバへ送信される-->
<!-- 「INPUT」とは、<form>タグで作成したフォームの中でテキスト入力欄やボタンなどの部品を作成する要素--><!--type:部品の形式を指定。name:部品の名前を指定。placeholder:フォームコントロールに値がないときにユーザーにヒントを出す。id:ページ内に一つ。-->
<!-- flashメッセージとは、クライアントからサーバへリクエストを送信したとき、そのリクエストにより実行した処理が正常に終了したか否かをユーザに伝えるメッセージのこと。-->
<!-- https://qiita.com/yu__programming/items/dd0cdc38982b752d45b9-->
<!-- なみカッコはFlaskの書き方。バックエンド側にデータが保存されており、そちらを参照。変数のため絶対パスではないので、ディレクトリが移動しても参照できる。-->
<!-- <ul> タグは Unordered List 順序のないリスト -->
<!-- flask withは変数。 -->