{$ extends 'auth/base.html' %} {% block title %}  <!-- Django:base.htmlの内容をベースに拡張(extend)する。Block title base.htmlの子のテンプレート？-->
<title>login</title> <!-- ウェブページのタイトルを指定。このタイトルは、ブラウザのタブや検索エンジンの結果ページに表示-->
{% endlock %} {% block body%} <!-- https://qiita.com/keishi04hrikzira/items/d81a38b655361352fe55 -->
<div class="auth-wrapper"> <!--wrapper:ユーザーが読みやすい様幅にwebページを包んで表示する。前ページ同じ？ https://mightyace.co.jp/2021/09/04/column3380/ -->
　<div class = "auth-container"> <!-- container：コンテンツの横幅、余白、配置を調整する。 -->
　　<img
      src="{{ url_for('static',filename='img/hagyutto-main.png') }}"   
      class="auth-main-pic"
     /> <!-- なぜ{}が２回も使用されているのか不思議。-->
　　<img
      src="{{ url_for('static',filename='img/~~~~~~~~~~~~~) }}"   
      class="auth-mobile-pic"
     /> <!-- モバイル版の画像を貼り付け -->
    <div class ="auto-form-wrapper">
       <div class="auth-logo ">
          <img
           src="{{ url_for('static' ,filename='img/hagyutto-logo.png')}}"
           alt="logo"
          /> <!-- なぜここだけaltなのか。-->
       </div>
       <form class ='auth-form' method="post">　<!--「FORM」とは、入力・送信フォームを作成する際に使用する要素。入力された値はmethod属性で指定した転送方法とenctype属性で指定したデータ形式でサーバへ送信され、action属性で指定したアクションを呼びだす。-->
          <h1 class="auth-title">ログイン</h1>　<!-- 見出し：タイトル表示（ログイン)--> 
          <div>
            <label for="email input">メールアドレス</label> <!--メールアドレスと記載。これ不要？-->
            <input
               type="text"
               placeholder="メールアドレス" 
               name="email"
               id="email-input"
            /> <!--name無しでも問題ないか。--> <!-- 「INPUT」とは、<form>タグで作成したフォームの中でテキスト入力欄やボタンなどの部品を作成する要素-->
               <!--type:部品の形式を指定。name:部品の名前を指定。placeholder:フォームコントロールに値がないときにユーザーにヒントを出す。id:ページ内に一つ。-->
          </div>
          <div>
               <label for="password-input">パスワード</label>
               <input
                  type="password"
                  placeholder="パスワード"
                  name="email"
                  id="email-input"
               />
             </div>



       </form>
    </div>


  </div>


</div>
