{% extends 'user/base.html' %} 
{% block title %}
<title>create_open_chat_error</title>
{% endblock %} 

{% block body %}
<header>
    <div>
      <img
          src="{{ url_for('static' ,filename='img/hagyutto-logo.png')}}"
          alt="logo"
      > 
    </div>
</header>

<div class="main-wrapper">
    <div class="main-container">
        <div class="page-title">
          <h1>オープンチャット作成</h1>        
        </div>
        <div>
          <p>このチャンネル名は<br>ご利用になりません</p>
        </div>
        <div>
          <a class="page-links" href="{{ url_for('create_open_view') }}">
               <span class="title">戻る</span>
          </a> 
        </div>
    </div>
</div>