{% extends 'user/base.html' %} {% block title %}
<title>open_chat_error</title>
{% endblock %} {% block body %}
<header>
    <div>
      <img
          src="{{ url_for('static' ,filename='img/hagyutto-logo.png')}}"
          alt="logo"
      > 
    </div>
</header>
<div class="open_chat_error-container">
    <div class="open_chat_error-container">
      <h1>オープンチャット</h1>        
    </div>
    <div>
      <p>このオープンチャットは<br>既に削除されています。</p>
    </div>
    <form>
    <div class="open_chat_error-button-container"> <!--ボタンの幅等-->
        <button class="open_chat_error-button white">戻る</button>
     </div>
   </form>
</div>