/* ハンバーガメニュー */
#burger-icon {
    display: block; 
    position: fixed;
    right: 24px;
    width: 40px;
    height: 40px;
    z-index: 2000;
    cursor: pointer;
}
#burger-close-icon {
    display: none;
    position: fixed;
    right: 24px;
    width: 40px;
    height: 40px;
    z-index: 2000;
    cursor: pointer;
}

#mobile-header {
    display: none; /* ハンバーガーメニューが開いているときに表示 */
    position: fixed;
    top: -16px; /* ヘッダーの高さ分だけ下げる */
    left: 0;
    width: 100vw;
    height: calc(100vh - 64px); /* ヘッダーを除いた高さ */
    z-index: 500;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--main_blue);
}

#admin-burger-icon {
    display: block; 
    position: fixed;
    right: 24px;
    width: 40px;
    height: 40px;
    z-index: 2000;
    cursor: pointer;
}
#admin-burger-close-icon {
    display: none;
    position: fixed;
    right: 24px;
    width: 40px;
    height: 40px;
    z-index: 2000;
    cursor: pointer;
}

#admin_menu {
    display: none; /* ハンバーガーメニューが開いているときに表示 */
    position: fixed;
    top: -16px; /* ヘッダーの高さ分だけ下げる */
    left: 0;
    width: 100vw;
    height: calc(100vh - 64px); /* ヘッダーを除いた高さ */
    z-index: 500;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--main_blue);
}