#burger-icon {
    display: none;
    position: fixed;
    right: 24px;
    width: 40px;
    height: 40px;
    z-index: 2000;
    cursor: pointer;
}
#burger-close-icon {
    display: block;
    position: fixed;
    right: 24px;
    width: 40px;
    height: 40px;
    z-index: 2000;
    cursor: pointer;
}

#mobile-header {
    display: none;
    position: fixed;
    top: 64px; /* ヘッダーの高さ分だけ下げる */
    left: 0;
    width: 100vw;
    height: calc(100vh - 64px); /* ヘッダーを除いた高さ */
    background: var(--main_blue);
    z-index: 500;
    flex-direction: column;
    overflow-y: auto;
}