:root {
    --main_blue: #E3FBFF;
    --sub_blue: #3197A9;
    --button_pink: #FF9494;
    --praivate_pink: #FFDBDB;
    --group_yellow: #FEFFD9;
    --open_green: #D9FFD9;
    --all_white: #FFFFFF;
}